button {
    border: none;
    background-color: transparent;
}

button:hover {
    font-weight: bold;
}

.delete-button {
    border-radius: 50%;
    background-color: red;
    color: white;
    font-weight: bold;
}