<div class=background-login>
  <form class='login-form' [formGroup]="myForm" (ngSubmit)="submit()">
    <div class="create-fields">
      <div class="field">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter a username..." formControlName="username">
          <mat-error *ngIf="username.invalid">
            Enter an username
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter password..." formControlName="password">
          <mat-error *ngIf="password.invalid">
            Enter a password
          </mat-error>
        </mat-form-field>
        <button mat-button [disabled]="!myForm.valid" (click)="submit()"> LOGIN </button>
        <button mat-button (click)="goToNewUser()">REGISTER</button>
      </div>
    </div>
  </form>
</div>