<app-navbar [mainName]="cityName"></app-navbar>
<div class="background-img" style="background-image: url({{city.pic}});">
    <div class="buttons">
        <button type="button" class="btn btn-light btn-circle btn-xl" (click)="filterByTheme('ALL')">ALL</button>
        <button type="button" class="btn btn-primary btn-circle btn-xl" (click)="filterByTheme('FOOD')">FOOD</button>
        <button type="button" class="btn btn-success btn-circle btn-xl" (click)="filterByTheme('LEISURE')">LEISURE</button>
        <button type="button" class="btn btn-danger btn-circle btn-xl" (click)="filterByTheme('CULTURE')">CULTURE</button>
        <button type="button" class="btn btn-warning btn-circle btn-xl" (click)="filterByTheme('SPORT')">SPORT</button>
    </div>

    <div *ngIf="postsAndUsers.length!==0">
        <div *ngFor="let pas of postsAndUsers">
            <app-post-card (postEmiter)="updateListPost($event)" [postAndUser]="pas" [service]="'city'"></app-post-card>
        </div>
    </div>
    <br>
</div>